* {
  box-sizing: border-box;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  min-height: 100vh;
 
}

.calc-container {
  border: solid 1px yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
}

.display-container {
  width: 100%;
}
.keypad-container {
  border: solid 1px red;
  display: flex;
  flex-wrap: wrap;
    /* flex-direction: column; */
    /* height: 100%; */
    width: 100%;
   
  

  
}

.keypad-container button {
  /* border: solid 1px blue;
  display: flex; 
  flex-direction: column; */
 
}